* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 20, 0);
  height: 100vh;
  width: 100vw;
  font-family: Helvetica, sans-serif;
}

.back-button {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, background-color 0.3s ease;
  z-index: 100;
  display: block;
}

.back-button:hover {
  transform: scale(1.1);
  background-color: rgb(20, 20, 20);
  cursor: pointer;
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 0;
  color: white;
  width: 80vw;
  padding: 35vh 10vw 35vh 10vw;
  text-align: left;
  font-size: 16px;
  line-height: 1.6;
  justify-content: space-between;
  backface-visibility: hidden;
}

.contact h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-links {
  list-style: none;
  padding: 0;
  margin-top: 65px;
}

.contact-links li {
  margin-bottom: 10px;
}

.contact a {
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}

.contact a:hover {
  color: black;
  text-decoration: underline;
}

img {
  max-height: 27vh;
  width: 100%;
}

.rechts {
  align-self: flex-end;
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    /* Safari-only styles go here */
  }
}

@media (max-width: 600px) {
  body {
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
  }
  .contact {
    flex-direction: column-reverse;
    padding: 10vh 10vw 10vh 10vw;
    gap: 0.5em;
  }
  .rechts {
    width: 100%;
    align-self: center;
    text-align: center;
  }
  img {
    width: 70%;
  }

  .contact-links {
    margin-top: 45px;
  }
}
