* {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: black;
}

.project-title {
  position: fixed;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 100;
  width: 100vw;
}

.project-title h2 {
  font-size: 6rem;
  font-weight: 600;
  margin: 0;
  color: white;
}

.project-title p {
  font-size: 1.85em;
  color: white;
  font-weight: 100;
  margin: 0.25rem 0 0 0;
  letter-spacing: 0.01em;
}

.about-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 20, 0);
  color: white;
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* transition: opacity 0.5s ease; */
  opacity: 1;
}

.about-section.hidden {
  opacity: 0;
  pointer-events: none;
}

.about-content {
  position: relative;
  max-width: 40vw;
  text-align: left;
  padding: 200px 30vw 300px 30vw;
  overflow-y: scroll;
}

.about-content::-webkit-scrollbar {
  width: 8px;
}

.about-content::-webkit-scrollbar-track {
  background: none; /* subtle track */
  border-radius: 5px;
}

.about-content::-webkit-scrollbar-thumb {
  background-color: white; /* your accent red */
  border-radius: 10px;
  border: 2px solid transparent;
}

.about-content::-webkit-scrollbar-thumb:hover {
  background-color: rgb(200, 0, 0);
}

.about-content h1 {
  padding-bottom: 0.75rem;
  padding-top: 2rem;
}

.about-content p {
  padding-bottom: 0.75rem;
}

.back-button {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, background-color 0.3s ease;
  z-index: 100;
  display: block;
}

.back-button:hover {
  transform: scale(1.1);
  background-color: rgb(20, 20, 20);
  cursor: pointer;
}

#canvas-title {
  opacity: 1;
  transition: opacity 2s ease-in; /* default = slow fade-in */
  will-change: opacity;
}

#canvas-title.fade-out {
  opacity: 0;
  transition: opacity 0.2s ease; /* quick fade-out */
  pointer-events: none;
}

.style {
  /* color: rgb(149, 12, 0); */
  font-style: italic;
}

@media (max-width: 600px) {
  body {
    height: 100dvh;
  }

  .project-title {
    bottom: 1.5rem;
  }
  .project-title h2 {
    font-size: 1.75rem;
  }
  .project-title p {
    font-size: 0.8rem;
  }
  .about-content {
    max-width: 60vw;
    padding: 100px 20vw 300px 20vw;
  }
}

@media (min-width: 1600px) {
  .about-content {
    padding: 200px 20vw 100px 20vw;
  }
}
